{%- if link.type is arista.avd.defined('underlay_p2p') -%}
C::{{ link.peer }}_{{ link.peer_interface }}{{ switch.struct_cfg.tags | arista.avd.default() }}
{%- elif link.type is arista.avd.defined('underlay_l2') -%}
C::{{ link.peer }}_{{ link.peer_interface }}{{ switch.struct_cfg.tags | arista.avd.default() }}
{%- endif -%}